.place__paragraph {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: #fff;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    margin-bottom: 25px;
}

.place__paragraph:last-of-type {
    margin-bottom: 0;
}

.place__paragraph:only-of-type {
    margin-bottom: 0;
}

@media screen and (max-width: 870px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 26px;
     }
}

@media screen and (max-width: 500px) {
    .place__paragraph {
        padding: 0 16px 0;
    }
}