.lead__subtitle {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #fff;
    margin: 32px auto 0;
    max-width: 640px;
    text-align: center;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 680px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 1.63;
    }
}

@media screen and (max-width: 320px) {
    .lead__subtitle {
        line-height: 20px;
        margin-top: 16px;
    }
}