.cover__title {
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #fff;
    margin: 0;
    max-width: 560px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 700px) and (min-width: 501px) {
    .cover__title {
        font-size: 50px;
        line-height: 54px;
    }
}

@media screen and (max-width: 500px) and (min-width: 341px) {
    .cover__title {
        font-size: 46px;
        line-height: 48px;
    }
}

@media screen and (max-width: 340px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        padding: 0 4px 4px 0;
    }
}