.header__lang-links {
    margin: 0 32px 0 0;
    list-style-type: none;
    display: flex;
    align-items: flex-end;
    gap: 18px;
    padding: 0 0 4px 0;
}

@media screen and (max-width: 768px) {
    .header__lang-links {
        margin-right: 9px;
    }
}

@media screen and (max-width: 320px) {
    .header__lang-links {
        margin-right: 16px;
    }
}